<div class="convert-date">
    <div class="now-info">
        <div class="title">Hôm nay:</div>
        <div class="in4">
            <div class="solar">
                <span class="in4-title">Dương lịch:</span>
                <span class="in4-value">{{solar}}</span>
            </div>
            <div class="lunar">
                <span class="in4-title">Aam lịch:</span>
                <span class="in4-value">{{lunar}}</span>
            </div>
        </div>
    </div>
    <div class="converter"></div>
</div>