<div id="app" #app>
    <mat-progress-bar mode="determinate" [value]="progressValue" *ngIf="inProgress"></mat-progress-bar>
    <div class="app-header">
        <a class="item" [routerLink]="Routing.TET_COUNTDOWN.path" [ngClass]="('/' + Routing.TET_COUNTDOWN.path) == path ? 'selected' : ''">
            <span class="icon"></span>
            <span class="text">Tết Nguyên Đán</span>
        </a>

        <a class="item" [routerLink]="Routing.LIST_HOLIDAYS.path" [ngClass]="('/' + Routing.LIST_HOLIDAYS.path) == path ? 'selected' : ''">
            <span class="icon"></span>
            <span class="text">Danh sách ngày lễ</span>
        </a>
    </div>

    <div #appContent class="app-content">
        <router-outlet></router-outlet>
    </div>
</div>

<snackbar></snackbar>
<message-box></message-box>

<div id="calculator"></div>