<div class="tet-countdown" [ngClass]="device == DeviceType.Desktop ? 'web' : 'mobile'">
    <div class="calendar-timer">
        <div class="title">Sắp Tết rồi!!! Chỉ còn...</div>
        <div class="blocks">
            <div class="clock-item">
                <div class="time">{{days}}</div>
                <div class="text">Ngày</div>
            </div>
            <div class="clock-item">
                <div class="time">{{hours}}</div>
                <div class="text">Giờ</div>
            </div>
            <div class="clock-item">
                <div class="time">{{minutes}}</div>
                <div class="text">Phút</div>
            </div>
            <div class="clock-item">
                <div class="time">{{seconds}}</div>
                <div class="text">Giây</div>
            </div>
        </div>
        <div class="can-chi">
            {{canchi}} {{year}}
        </div>
        <div class="more">
            <div class="more-item solar-date">
                <span class="date-title">Dương lịch:</span>
                <span style="margin-right: 8px;">{{dayName}},</span>
                <span>{{tetHoliday.solarDate | DateVietnamPipe}}</span>
            </div>
            <div class="more-item lunar-date">
                <span class="date-title">Âm lịch:</span>
                <span>{{tetHoliday.lunarDate | DateVietnamPipe}}</span>
            </div>
        </div>
        <div class="description">
            <span>
              {{tetHoliday.description}}
            </span>
        </div>
    </div>
</div>
