<div class="tet-countdown" [ngClass]="device == DeviceType.Desktop ? 'web' : 'mobile'">
    <div class="calendar-timer">
        <div class="title">Sắp Tết rồi!!! Chỉ còn...</div>
        <div class="blocks">
            <div class="clock-item">
                <div class="time">{{days}}</div>
                <div class="text">Ngày</div>
            </div>
            <div class="clock-item">
                <div class="time">{{hours}}</div>
                <div class="text">Giờ</div>
            </div>
            <div class="clock-item">
                <div class="time">{{minutes}}</div>
                <div class="text">Phút</div>
            </div>
            <div class="clock-item">
                <div class="time">{{seconds}}</div>
                <div class="text">Giây</div>
            </div>
        </div>
        <div class="description">
            {{tetHoliday.description}}
        </div>
    </div>
</div>