.tet-countdown {
    height: 100%;
    padding-top: 48px;
    background-color: #FFC937;
    background-image: url(../../../assets/img/traditional-tet-holiday.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .calendar-timer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 24px 16px;
        margin: 0 24px;
        border-radius: 8px;
        background-color: #ddd;
        opacity: 0.95;
        .title {
            flex-basis: 100%;
            margin-bottom: 28px;
            text-align: center;
            font-size: 20px;
            font-family: "Dancing Script", cursive;
            font-weight: 700;
            color: #333;
        }
        .blocks {
            flex-basis: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .clock-item {
                width: 100px;
                height: 100px;
                margin-right: 24px;
                font-family: "Dancing Script", cursive;
                .time {
                    height: 60%;
                    border-top-left-radius: 28px;
                    border-top-right-radius: 28px;
                    font-size: 32px;
                    font-weight: 700;
                }
                .text {
                    height: 40%;
                    border-bottom-left-radius: 28px;
                    border-bottom-right-radius: 28px;
                    font-size: 20px;
                    font-weight: 400;
                }
                .time,
                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                }
            }
        }
        .description {
            padding: 8px 48px;
            margin-top: 48px;
            font-size: 18px;
            font-weight: 600;
            color: #333;
        }
    }
    &.mobile {
        .calendar-timer {
            .title,
            .clock-item {
                font-family: monospace !important;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .tet-countdown {
        .calendar-timer {
            .blocks {
                .clock-item {
                    width: 80px;
                    height: 80px;
                    margin-right: 12px;
                    .time {
                        height: 50%;
                        font-size: 20px;
                    }
                    .text {
                        height: 50%;
                        font-size: 16px;
                    }
                }
            }
            .description {
                font-size: 14px;
            }
        }
    }
}