<div class="holidays">
    <div class="day-off-holidays">
        <div class="title">1. Danh sách ngày đại lễ (được nghỉ)</div>
        <div class="list">
            <div class="holiday" *ngFor="let holiday of hasDayOffGroup">
                <div class="item name">
                    {{holiday.name}}
                </div>

                <div class="item solar-date">
                    Dương lịch: {{(holiday.solarDate) | DateVietnamPipe}}
                </div>
                <div class="item lunar-date">
                    Âm lịch: {{(holiday.lunarDate) | DateVietnamPipe}}
                </div>
            </div>
        </div>
    </div>
</div>