.holidays {
    padding: 16px;
    .group {
        margin-bottom: 28px;
        .title {
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 20px;
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            padding-left: 12px;
            .holiday {
                margin: 0 12px 24px 12px;
            }
        }
    }
    &.mobile {
        .list {
            .holiday {
                margin: 12px auto !important;
            }
        }
    }
}